
Binary file: E:\Projects\Git\BLToolkit\.gitignore (Detected)
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.pidb
*.cache
*.userprefs
*.sdf
*.xap
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
BLToolkit.2010.opensdf
BLToolkit.2010.sdf
BLToolkit.2010.userprefs
BLToolkit.2010.sdf
BLToolkit.2010.userprefs
Mono/_ReSharper.Mono/*
BLToolkit.2010.sln.docstates
*.csproj.user
UnitTests/BLToolkit.Linq.VisualState.xml
UnitTests/Linq/UserDataProviders.txt
!*.dll
*.ncrunchsolution
!*.exe
!*.pdb
BLToolkit.2012.opensdf
ipch/examples.cpp-54293a33/examples.ipch
