body 
{
	background  : White;
	font-family : Verdana;
}

a:link    { text-decoration: none;      color : #338899; }
a:visited { text-decoration: none;      color : #55AABB; }
a:hover   { text-decoration: underline; color : #338899; }

a.m:link    { text-decoration: none;      color : Black; }
a.m:visited { text-decoration: none;      color : Black; }
a.m:hover   { text-decoration: underline; color : Black; }

.title
{
	font-size   : x-large;
	color       : #116677;
	font-family : Arial;
}

.homeurl
{
	font-size : small;
	color     : #338899;
}

hr
{
	height : 1px;
	color  : #338899;
}

td
{
	font-size      : small;
	vertical-align : top;
}

.j
{
	text-align : justify;
}