<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add
						name="messages"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData="messages.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

	<system.serviceModel>
		<diagnostics>
			<messageLogging
				 logEntireMessage="true"
				 logMalformedMessages="true"
				 logMessagesAtServiceLevel="true"
				 logMessagesAtTransportLevel="false"
				 maxMessagesToLog="1000"
				 maxSizeOfMessageToLog="100000"/>
		</diagnostics>
	</system.serviceModel>
	
	<connectionStrings>
		<add name="Sql2008" connectionString="Server=.;Database=BLToolkitData;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>