<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.3"/>
	</configSections>
	<connectionStrings>
		<add name="Fdp" connectionString="Database=..\..\..\..\Data\BLToolkitData.fb2;User Id=SYSDBA;Password=masterkey;Server Type=1"/>
	</connectionStrings>
	<bltoolkit>
		<dataProviders>
			<add type="BLToolkit.Data.DataProvider.FdpDataProvider, UnitTests.Firebird" default="true"/>
		</dataProviders>
		<typeFactory saveTypes="true" />
	</bltoolkit>
</configuration>