<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add
      key   = "ConnectionString.Fdp"
      value = "Database=..\..\..\..\..\Data\BLToolkitData.fb2;User Id=SYSDBA;Password=masterkey;Server Type=1" />
    <add
      key   = "BLToolkit.DataProviders"
      value = "BLToolkit.Data.DataProvider.FdpDataProvider, UnitTests.CS.2.Fdp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add
      key   = "BLToolkit.DefaultConfiguration"
      value = "Fdp"/>
  </appSettings>
</configuration>