<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Default configuration -->
		<add key="ConnectionString" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- SQL Server Development configuration -->
		<add key="ConnectionString.Development" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- SQL Server Production configuration -->
		<add key="ConnectionString.Production" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- SQL Server configuration -->
		<add key="ConnectionString.Sql" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- OLEDB configuration -->
		<add key="ConnectionString.OleDb" value="Provider=SQLNCLI.1;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData"/>
		<!-- OLEDB Development configuration -->
		<add key="ConnectionString.OleDb.Development" value="Provider=SQLNCLI.1;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData"/>
		<!-- OLEDB Production configuration -->
		<add key="ConnectionString.OleDb.Production" value="Provider=SQLNCLI.1;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData"/>
	</appSettings>
	<connectionStrings>
		<add
			name             = "Demo"
			connectionString = "Server=.;Database=BLToolkitData;Integrated Security=SSPI"
			providerName     = "System.Data.SqlClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.2.9.0" newVersion="2.2.9.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
