<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add 
			key   = "ConnectionString"
			value = "Server=(local);Database=BLToolkitData;Integrated Security=SSPI"/>
		<add 
			key   = "ConnectionString.Sql"
			value = "Server=(local);Database=BLToolkitData;Integrated Security=SSPI"/>
	</appSettings>
</configuration>