<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add
      key   = "ConnectionString.SQLite"
      value = "Data Source=..\..\..\..\Data\BLToolkitData.sq3"/>
    <add
      key   = "BLToolkit.DataProviders"
      value = "BLToolkit.Data.DataProvider.SQLiteDataProvider, UnitTests.SQLite, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add
      key   = "BLToolkit.DefaultConfiguration"
      value = "SQLite"/>
  </appSettings>
</configuration>