<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.3"/>
	</configSections>
	<connectionStrings>
		<add name="SQLite" connectionString="Data Source=..\..\..\..\Data\BLToolkitData.sq3"/>
	</connectionStrings>
	<bltoolkit defaultConfiguration="SQLite">
		<dataProviders>
			<add type="BLToolkit.Data.DataProvider.SQLiteDataProvider, UnitTests.SQLite" default="true"/>
		</dataProviders>
		<typeFactory saveTypes="true" />
	</bltoolkit>
</configuration>