<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.3"/>
	</configSections>
	<bltoolkit>
		<dataProviders>
			<add type="BLToolkit.Data.DataProvider.OdpDataProvider,      UnitTests.Linq" />
			<add type="BLToolkit.Data.DataProvider.SybaseDataProvider,   UnitTests.Linq" />
			<add type="BLToolkit.Data.DataProvider.MySqlDataProvider,    UnitTests.Linq" />
			<add type="BLToolkit.Data.DataProvider.DB2DataProvider,      UnitTests.Linq" />
			<add type="BLToolkit.Data.DataProvider.InformixDataProvider, UnitTests.Linq" />
		</dataProviders>
	</bltoolkit>
	<connectionStrings>
		<add name="Sql2008"  connectionString="Server=.;Database=BLToolkitData;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<add name="Sql2005"  connectionString="Server=DBHost;Database=BLToolkitData;User Id=TestUser;Password=TestPassword;" providerName="System.Data.SqlClient"/>
		<add name="Oracle"   connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DBHost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=TestUser;Password=TestPassword;" providerName="Oracle.DataAccess.Client"/>
		<add name="Sybase"   connectionString="Data Source=DBHost;Port=5000;Database=master;Uid=TestUser;Pwd=TestPassword;" providerName="Sybase.Data.AseClient"/>
		<add name="MySql"    connectionString="Server=DBHost;Port=3306;Database=BLToolkitData;Uid=root;Pwd=TestPassword;" providerName="MySql.Data.MySqlClient"/>
		<add name="DB2"      connectionString="Server=DBHost:50000;Database=BLTD;UID=TestUser;PWD=TestPassword;" providerName="IBM.Data.DB2"/>
		<add name="Informix" connectionString="Host=DBHost;Service=9090;Server=ol_ids_1150_1;Protocol=onsoctcp;Database=BLToolkitData;UID=sysmaster;PWD=TestPassword;" providerName="IBM.Data.Informix"/>
		<!-- Persist Security Info=True;Authentication=Server; -->
	</connectionStrings>
</configuration>
