<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
	<configSections>
		<section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.4"/>
	</configSections>
	<bltoolkit>
		<dataProviders>
			<add type="BLToolkit.Data.DataProvider.DB2DataProvider,        BLToolkit.Data.DataProvider.DB2.4"/>
			<add type="BLToolkit.Data.DataProvider.FdpDataProvider,        BLToolkit.Data.DataProvider.Firebird.4"/>
			<add type="BLToolkit.Data.DataProvider.InformixDataProvider,   BLToolkit.Data.DataProvider.Informix.4"/>
			<add type="BLToolkit.Data.DataProvider.MySqlDataProvider,      BLToolkit.Data.DataProvider.MySql.4"/>
			<add type="BLToolkit.Data.DataProvider.OdpDataProvider,        BLToolkit.Data.DataProvider.Oracle.4"/>
			<add type="BLToolkit.Data.DataProvider.PostgreSQLDataProvider, BLToolkit.Data.DataProvider.PostgreSQL.4"/>
			<add type="BLToolkit.Data.DataProvider.SqlCeDataProvider,      BLToolkit.Data.DataProvider.SqlCe.4"/>
			<add type="BLToolkit.Data.DataProvider.SQLiteDataProvider,     BLToolkit.Data.DataProvider.SQLite.4"/>
			<add type="BLToolkit.Data.DataProvider.SybaseDataProvider,     BLToolkit.Data.DataProvider.Sybase.4"/>
		</dataProviders>
	</bltoolkit>
	-->
  <!--
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add
						name="messages"
						type="System.Diagnostics.XmlWriterTraceListener"
						initializeData="messages.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>

	<system.serviceModel>
		<diagnostics>
			<messageLogging
				logEntireMessage="true"
				logMalformedMessages="true"
				logMessagesAtServiceLevel="true"
				logMessagesAtTransportLevel="false"
				maxMessagesToLog="1000"
				maxSizeOfMessageToLog="100000"/>
		</diagnostics>
	</system.serviceModel>
	-->
	<connectionStrings>
		<add name="Access" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=BLToolkitData.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True" />
		<add name="Access.Data" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\..\..\Data\BLToolkitData.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True" />
		<add name="DB2" connectionString="Server=DBHost:50000;Database=TESTDATA;UID=Administrator;PWD=TestPassword;" providerName="IBM.Data.DB2" />
		<add name="Fdp" connectionString="DataSource=DBHost;Database=C:\Data\TestData.fdb;User Id=SYSDBA;Password=masterkey" />
		<add name="Informix" connectionString="Host=DBHost;Service=9088;Server=ol_informix1170;Protocol=onsoctcp;Database=TestData;UID=informix;PWD=TestPassword;" providerName="IBM.Data.Informix" />
		<add name="MySql" connectionString="Server=DBHost;Port=3306;Database=testdata;Uid=root;Pwd=TestPassword;charset=utf8;" providerName="MySql.Data.MySqlClient" />
		<add name="Oracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DBHost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TestData)));User Id=TestUser;Password=TestPassword;" providerName="Oracle.DataAccess.Client" />
		<add name="DevartOracle" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DBHost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=TestData)));User Id=TestUser;Password=TestPassword;" providerName="Devart.Data.Oracle" />
		<!--
		<add name="ManagedOracle"   connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DBHost1)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=TestUser;Password=TestPassword;" providerName="Oracle.ManagedDataAccess.Client"/>
		-->
		<add name="PostgreSQL" connectionString="Server=DBHost;Port=5432;Database=TestData;User Id=postgres;Password=TestPassword;Pooling=true;MinPoolSize=10;MaxPoolSize=100;Protocol=3;" providerName="Npgsql" />
		<add name="Sql2012" connectionString="Server=DBHost\SQLSERVER2012;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
		<add name="Sql2008" connectionString="Server=DBHost\SQLSERVER2008;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
		<add name="Sql2005" connectionString="Server=DBHost\SQLSERVER2005;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
		<add name="Sql2000" connectionString="Server=DBHost2008\SQLSERVER2000;Database=TestData;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
		<add name="SqlCe" connectionString="Data Source=BLToolkitData.sdf" />
		<add name="SqlCe.Data" connectionString="Data Source=..\..\..\..\Data\BLToolkitData.sdf" />
		<add name="SQLite" connectionString="Data Source=.\BLToolkitData.sqlite" />
		<add name="SQLite.Data" connectionString="Data Source=..\..\..\..\Data\BLToolkitData.sqlite" />
		<add name="Sybase" connectionString="Data Source=DBHost2008;Port=5000;Database=TestData;Uid=sa;Password=TestPassword" providerName="Sybase.Data.AseClient" />
		<add name="Northwind" connectionString="Server=DBHost\SQLSERVER2012;Database=Northwind;User Id=sa;Password=TestPassword;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	
	
<system.data> 
    <DbProviderFactories> 
      <add name="dotConnect for Oracle" invariant="Devart.Data.Oracle" description="Devart dotConnect for Oracle" type="Devart.Data.Oracle.OracleProviderFactory, Devart.Data.Oracle, Version=8.1.36.0, Culture=neutral, PublicKeyToken=09af7300eec23701" />
    </DbProviderFactories> 
  </system.data></configuration>