<?xml version="1.0"?>
<configuration>
	<!--
	<configSections>
		<section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.3"/>
	</configSections>
	<bltoolkit>
		<dataProviders>
			<add type="BLToolkit.Data.DataProvider.DB2DataProvider,        BLToolkit.Data.DataProvider.DB2"/>
			<add type="BLToolkit.Data.DataProvider.FdpDataProvider,        BLToolkit.Data.DataProvider.Firebird"/>
			<add type="BLToolkit.Data.DataProvider.InformixDataProvider,   BLToolkit.Data.DataProvider.Informix"/>
			<add type="BLToolkit.Data.DataProvider.MySqlDataProvider,      BLToolkit.Data.DataProvider.MySql"/>
			<add type="BLToolkit.Data.DataProvider.OdpDataProvider,        BLToolkit.Data.DataProvider.Oracle"/>
			<add type="BLToolkit.Data.DataProvider.PostgreSQLDataProvider, BLToolkit.Data.DataProvider.PostgreSQL"/>
			<add type="BLToolkit.Data.DataProvider.SqlCeDataProvider,      BLToolkit.Data.DataProvider.SqlCe"/>
			<add type="BLToolkit.Data.DataProvider.SQLiteDataProvider,     BLToolkit.Data.DataProvider.SQLite"/>
			<add type="BLToolkit.Data.DataProvider.SybaseDataProvider,     BLToolkit.Data.DataProvider.Sybase"/>
		</dataProviders>
	</bltoolkit>
	-->
	<connectionStrings>
		<add name="Access"     connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\..\..\Data\BLToolkitData.mdb;Locale Identifier=1033;Jet OLEDB:Engine Type=5;Persist Security Info=True"/>
		<add name="DB2"        connectionString="Server=DBHost:50000;Database=BLTD;UID=TestUser;PWD=TestPassword;" providerName="IBM.Data.DB2"/>
		<add name="Fdp"        connectionString="DataSource=DBHost;Database=C:\Data\BLToolkitData.fb2;User Id=SYSDBA;Password=masterkey"/>
		<add name="Informix"   connectionString="Host=DBHost;Service=9088;Server=ol_svr_custom;Protocol=onsoctcp;Database=BLToolkitData;UID=informix;PWD=TestPassword;" providerName="IBM.Data.Informix"/>
		<add name="MySql"      connectionString="Server=DBHost;Port=3306;Database=bltoolkitdata;Uid=root;Pwd=TestPassword;" providerName="MySql.Data.MySqlClient"/>
		<add name="Oracle"     connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=DBHost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=TestUser;Password=TestPassword;" providerName="Oracle.DataAccess.Client"/>
		<add name="PostgreSQL" connectionString="Server=DBHost;Port=5432;Database=BLToolkitData;User Id=postgres;Password=TestPassword;" providerName="Npgsql"/>
		<add name="Sql2008"    connectionString="Server=.;Database=BLToolkitData;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<add name="Sql2005"    connectionString="Server=DBHost;Database=BLToolkitData;User Id=TestUser;Password=TestPassword;" providerName="System.Data.SqlClient"/>
		<add name="SqlCe"      connectionString="Data Source=..\..\..\..\Data\BLToolkitData.sdf"/>
		<add name="SQLite"     connectionString="Data Source=..\..\..\..\Data\BLToolkitData.sqlite"/>
		<add name="Sybase"     connectionString="Data Source=DBHost;Port=5000;Database=BLToolkitData;Uid=sa" providerName="Sybase.Data.AseClient"/>
		<add name="Northwind"  connectionString="Data Source=.;Database=Northwind;Integrated Security=SSPI"  providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
