<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toys.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Toys.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Toys.Test.Properties.Settings.ConnectionString" connectionString="Provider=SQLOLEDB.1;Data Source=(local);Integrated Security=SSPI;Initial Catalog=Northwind"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Toys.Test.Properties.Settings />
    </userSettings>
    <applicationSettings>
        <Toys.Test.Properties.Settings />
    </applicationSettings>
</configuration>