<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.4" requirePermission="false"/>
	</configSections>
	<bltoolkit>
		<typeFactory loadTypes="true"/>
	</bltoolkit>
	<connectionStrings>
		<add name="Northwind" connectionString="Data Source=.;initial catalog=Northwind;Integrated Security=SSPI"/>
	</connectionStrings>
	<system.web>
		<trust level="Medium"/>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
</configuration>
