<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Default configuration -->
		<add
			key   = "ConnectionString"
			value = "Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- SQL Server Development configuration -->
		<add
			key   = "ConnectionString.Development"
			value = "Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- SQL Server Production configuration -->
		<add
			key   = "ConnectionString.Production"
			value = "Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- SQL Server configuration -->
		<add
			key   = "ConnectionString.Sql"
			value = "Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- OLEDB configuration -->
		<add
			key   = "ConnectionString.OleDb"
			value = "Provider=SQLNCLI.1;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData"/>
		<!-- OLEDB Development configuration -->
		<add
			key   = "ConnectionString.OleDb.Development"
			value = "Provider=SQLNCLI.1;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData"/>
		<!-- OLEDB Production configuration -->
		<add
			key   = "ConnectionString.OleDb.Production"
			value = "Provider=SQLNCLI.1;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData"/>
	</appSettings>

	<configSections>
	</configSections>
	<connectionStrings>
		<add name="UnitTests.CS.Properties.Settings.BLToolkitDataConnectionString"
			connectionString="Data Source=(local);Initial Catalog=BLToolkitData;Integrated Security=True"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>