<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.4" />
  </configSections>

  <connectionStrings>
    <clear />
    <add name="Sqlite"
        connectionString="Data Source=E:\CSAMatching\BLToolkitData.sqlite;Version=3;Pooling=False;Max Pool Size=100;"
        providerName="System.Data.SQLite" />
    
    <add name="Oracle" connectionString="User Id={0}; Password={1}; Data Source={2}; Pooling=True;Connection Timeout=120;Max Pool Size=150;Decr Pool Size=20;"
      providerName="Oracle.DataAccess.Client" />
    
    <add name="UnitTests.CS.Properties.Settings.BLToolkitDataConnectionString"
      connectionString="Data Source=(local);Initial Catalog=BLToolkitData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    
    <add name="UnitTests.CS.Properties.Settings.ConnectionString"
      connectionString="DATA SOURCE=PITAOLERONFR01.PIGE;PASSWORD=smsmms8;PERSIST SECURITY INFO=True;USER ID=PITAFR01_PROC_11"
      providerName="Oracle.DataAccess.Client" />
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite"
           description=".Net Framework Data Provider for SQLite"
           type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.80.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139" />

      <!--<remove invariant="Oracle.DataAccess.Client" />
      <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client"
           description="Oracle.DataAccess.Client"
           type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=2.112.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
    </DbProviderFactories>
  </system.data>

  <appSettings>
    <!-- Default configuration -->
    <add key="ConnectionString" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI" />
    <!-- SQL Server Development configuration -->
    <add key="ConnectionString.Development" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI" />
    <!-- SQL Server Production configuration -->
    <add key="ConnectionString.Production" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI" />
    <!-- SQL Server configuration -->
    <add key="ConnectionString.Sql" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI" />
    <!-- Oracle configuration -->
    <add key="ConnectionString.Oracle" value="User Id=/;Data Source=BLToolkitData" />
    <!-- OLEDB configuration -->
    <add key="ConnectionString.OleDb"
         value="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData" />
    <!-- OLEDB Development configuration -->
    <add key="ConnectionString.OleDb.Development"
         value="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData" />
    <!-- OLEDB Production configuration -->
    <add key="ConnectionString.OleDb.Production"
         value="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData" />
    <!-- MySql configuration -->
    <add key="ConnectionString.MySql" value="Server=DBHost;Port=3306;Database=bltoolkitdata;Uid=root;Pwd=TestPassword;" />
    <!-- Additional data providers -->
    <add key="BLToolkit.DataProviders"
         value="BLToolkit.Data.DataProvider.MySqlDataProvider, BLToolkit.Data.DataProvider.MySql.4" />
    <add key="BLToolkit.DataProviders"
         value="BLToolkit.Data.DataProvider.OdpDataProvider,   BLToolkit.Data.DataProvider.Oracle.4" />
    <add key="BLToolkit.DataProviders"
        value="BLToolkit.Data.DataProvider.SQLiteDataProvider,   BLToolkit.Data.DataProvider.SQLite.4" />

    <!-- Samples
		<add
			key   = "BLToolkit.DataProviders"
			value = "BLToolkit.Data.DataProvider.OracleDataProvider;SomeNamespace.SomeType, SomeAssembly, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1234567890ABCDEF"/>
		<add
			key   = "BLToolkit.DefaultConfiguration"
			value = "Oracle"/>
		-->
  </appSettings>
  <bltoolkit>
    <typeFactory saveTypes="true" />
  </bltoolkit>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>