<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.4"/>
	</configSections>
	
	<connectionStrings>
		<add name="Default" connectionString="DataSource=localhost;Database=BLToolkitData.fdb;User Id=SYSDBA;Password=masterkey;Port=3050;ServerType=1"
				 providerName="Fdp"/>
	</connectionStrings>
	
	<bltoolkit>
		<typeFactory saveTypes="true"/>
		<dataProviders>
			<add type="BLToolkit.Data.DataProvider.FdpDataProvider, BLToolkit.Data.DataProvider.Firebird.4"/>
		</dataProviders>
	</bltoolkit>
	
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
