<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.4"/>
	</configSections>

	<appSettings>
		<!-- Default configuration -->
		<add key="ConnectionString" value="Server=(local)\SQL2014;Database=BLToolkitData;User ID=sa;Password=Password12!"/>
		<!-- SQL Server Development configuration -->
		<add key="ConnectionString.Development" value="Server=(local)\SQL2014;Database=BLToolkitData;User ID=sa;Password=Password12!"/>
		<!-- SQL Server Production configuration -->
		<add key="ConnectionString.Production" value="Server=(local)\SQL2014;Database=BLToolkitData;User ID=sa;Password=Password12!"/>
		<!-- SQL Server configuration -->
		<add key="ConnectionString.Sql" value="Server=(local)\SQL2014;Database=BLToolkitData;User ID=sa;Password=Password12!"/>
		<!-- Oracle configuration -->
		<add key="ConnectionString.Oracle" value="User Id=/;Data Source=BLToolkitData"/>
		<!-- OLEDB configuration -->
		<add key="ConnectionString.OleDb" value="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData;User ID=sa;Password=Password12!"/>
		<!-- OLEDB Development configuration -->
		<add key="ConnectionString.OleDb.Development" value="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData;User ID=sa;Password=Password12!"/>
		<!-- OLEDB Production configuration -->
		<add key="ConnectionString.OleDb.Production" value="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData;User ID=sa;Password=Password12!"/>
		<!-- MySql configuration -->
		<add key="ConnectionString.MySql" value="Server=DBHost;Port=3306;Database=bltoolkitdata;Uid=root;Pwd=TestPassword;"/>
		<!-- Additional data providers -->
		<add key="BLToolkit.DataProviders" value="BLToolkit.Data.DataProvider.MySqlDataProvider, BLToolkit.Data.DataProvider.MySql.4"/>
		<add key="BLToolkit.DataProviders" value="BLToolkit.Data.DataProvider.OdpDataProvider,   BLToolkit.Data.DataProvider.Oracle.4"/>
	</appSettings>

	<bltoolkit>
		<typeFactory saveTypes="true"/>
		<dataProviders>
			<add type="BLToolkit.Data.DataProvider.FdpDataProvider, BLToolkit.Data.DataProvider.Firebird.4"/>
		</dataProviders>
	</bltoolkit>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
