<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UnitTests.CS.Properties.Settings.BLToolkitDataConnectionString"
            connectionString="Data Source=(local);Initial Catalog=BLToolkitData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>