<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add 
			key   = "ConnectionString" 
			value = "Server=.;Database=Northwind;Integrated Security=SSPI"/>
		<add 
			key   = "ConnectionString.Development" 
			value = "Server=.;Database=Northwind;Integrated Security=SSPI"/>
		<add 
			key   = "ConnectionString.SqlServer"
			value = "Server=.;Database=Northwind;Integrated Security=SSPI" />
		<add 
			key   = "ConnectionString.Access.OleDb"
			value = "Provider=Microsoft.Jet.OLEDB.4.0;User ID=Admin;Data Source=..\..\..\Data\Northwind.mdb;Mode=Share Deny None" />
		<add 
			key   = "ConnectionString.Auth.Oracle"
			value = "???"/>
		<add 
			key   = "ConnectionString.SqlServer.OleDb"
			value = "Provider=SQLOLEDB;Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Northwind;Data Source=it-book" />
	</appSettings>
</configuration>
