<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Northwind"
			connectionString = "Data Source=.;Database=Northwind;Integrated Security=SSPI"
			providerName     = "System.Data.SqlClient" />
		<add name="NorthwindEntities"
			connectionString = "metadata=res://*/NorthwindModel.csdl|res://*/NorthwindModel.ssdl|res://*/NorthwindModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DADDY;initial catalog=Northwind;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
			providerName     = "System.Data.EntityClient" />
	</connectionStrings>
	
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			</assemblies>
		</compilation>
	</system.web>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
</configuration>