<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add
      key   = "ConnectionString.SqlCe"
      value = "Data Source=..\..\..\..\Data\bltoolkitdata.sdf"/>
    <add
      key   = "BLToolkit.DataProviders"
      value = "BLToolkit.Data.DataProvider.SqlCeDataProvider, UnitTests.SqlCe, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add
      key   = "BLToolkit.DefaultConfiguration"
      value = "SqlCe"/>
  </appSettings>
</configuration>