<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.3"/>
	</configSections>
	<connectionStrings>
		<add name="SqlCe" connectionString="Data Source=..\..\..\..\Data\BLToolkitData.sdf"/>
	</connectionStrings>
	<bltoolkit>
		<dataProviders>
			<add type="BLToolkit.Data.DataProvider.SqlCeDataProvider, UnitTests.SqlCe" default="true"/>
		</dataProviders>
		<typeFactory saveTypes="true" />
	</bltoolkit>
</configuration>