<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="DemoConnection" connectionString="Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
	</connectionStrings>
	<appSettings>
		<!-- Default configuration -->
		<add key="ConnectionString" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- SQL Server Development configuration -->
		<add key="ConnectionString.Development" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- SQL Server Production configuration -->
		<add key="ConnectionString.Production" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- SQL Server configuration -->
		<add key="ConnectionString.Sql" value="Server=.;Database=BLToolkitData;Integrated Security=SSPI"/>
		<!-- Oracle configuration -->
		<add key="ConnectionString.Oracle" value="User Id=/;Data Source=BLToolkitData"/>
		<!-- OLEDB configuration -->
		<add key="ConnectionString.OleDb" value="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData"/>
		<!-- OLEDB Development configuration -->
		<add key="ConnectionString.OleDb.Development" value="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData"/>
		<!-- OLEDB Production configuration -->
		<add key="ConnectionString.OleDb.Production" value="Provider=SQLOLEDB;Data Source=.;Integrated Security=SSPI;Initial Catalog=BLToolkitData"/>

		<!-- Samples
		<add
			key   = "BLToolkit.DataProviders"
			value = "BLToolkit.Data.DataProvider.OracleDataProvider;SomeNamespace.SomeType, SomeAssembly, Version=1.0.0.0, Culture=neutral, PublicKeyToken=1234567890ABCDEF"/>
		<add
			key   = "BLToolkit.DefaultConfiguration"
			value = "Oracle"/>
		-->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
