<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add
      key   = "ConnectionString.Access"
      value = "Provider=Microsoft.Jet.OLEDB.4.0;Data Source=..\..\..\..\Data\BLToolkitData.mdb;Persist Security Info=True"/>
    <add
      key   = "BLToolkit.DefaultConfiguration"
      value = "Access"/>
  </appSettings>
</configuration>