<?xml version="1.0"?>
<configuration>
	<appSettings/>
	<connectionStrings>
		<add
			name="Default"
			connectionString="Server=.;Database=BLToolkitData;Integrated Security=SSPI"
			providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true"/>
	</system.web>
</configuration>
