<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConnectionString.aaOdp" value="User Id=/;Data Source=localhost" />
		<add key="BLToolkit.DataProviders" value="BLToolkit.Data.DataProvider.OdpDataProvider, UnitTests.Oracle" />
		<add key="BLToolkit.DefaultConfiguration" value="Odp" />
	</appSettings>
</configuration>