<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="bltoolkit" type="BLToolkit.Configuration.BLToolkitSection, BLToolkit.3"/>
	</configSections>
	<bltoolkit>
		<dataProviders>
			<add type="BLToolkit.Data.DataProvider.OdpDataProvider, UnitTests.Oracle" default="true" />
		</dataProviders>
	</bltoolkit>
	<connectionStrings>
		<add name="Odp" connectionString="User Id=/;Data Source=localhost"/>
	</connectionStrings>
</configuration>