<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add
      key   = "ConnectionString.Odp"
			value = "User Id=BLTOOLKITDATA;Password=bltd;Data Source=ITTRUST3"/>
    <add
      key   = "BLToolkit.DataProviders"
      value = "BLToolkit.Data.DataProvider.OdpDataProvider, UnitTests.CS.2.Odp, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <add
      key   = "BLToolkit.DefaultConfiguration"
      value = "Odp"/>
  </appSettings>
</configuration>